/*
	Si la page ne s'affiche pas correctement (ex: textes décalés ...),
	"Calcul_Bac.png" est une capture d'écran de la page avec tous les 
	objets à leur bonne place.
*/

body {
	background-color:#333;
	color: white;
	font-family: Arial,sans-serif;
	font-size: 1.4375em;
	margin:0;
	padding:0;
	text-align: center;
}

header {
	background-color: #4CAF50;
	font-size: 50px;
	height:7%;
	left:0;
	position:fixed;
	top:0;
	width:100%;
}

input, select {
	background:inherit;
	border: 2px;
	border-color: #222;
	color: inherit;
	font-size: inherit;
	text-align: inherit;
	width:100%;
}

input:hover, select:hover{
	background:#252525;
}

input:disabled, select:disabled{
	background:#111;
	color: #666;
	cursor: not-allowed;
}

section {
	margin:0;
	padding:0;
}

.copyright {
	bottom:0;
	position:fixed;
}

.left-sidebar {
	background:#222;
	bottom:0;
	height: 93%;
	overflow:auto;
	padding-left:1%;
	position:fixed;
	text-align:left;
	width: 23%;
}

.left-sidebar input {
	cursor: pointer;
}

#tabNotes {
	border-collapse: collapse;
	font-size: 38px;
	margin-left:23.99%;
	margin-top:3.4%;
	width: 76%;
}

#tabNotes th {
	background:#222;
}
